<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omega_r.omegarecyclerview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sticky_header_example.StickyHeaderActivity" />
        <activity android:name=".swipe_menu_example.SwipeMenuActivity" />
        <activity android:name=".pagination_example.PaginationActivity" />
        <activity android:name=".sections_example.SectionsActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".ListAdapterExample.ListAdapterActivity" />
        <activity android:name=".expandable_example.core.ExpandableActivity" />
        <activity android:name=".expandable_example.support_sticky.DefaultStickyExpandableActivity" />
        <activity android:name=".expandable_example.ChooseExpandableActivity" />
        <activity android:name=".fastscroll_example.FastScrollActivity"/>
    </application>

</manifest>